<div class="box box-info">
    <form class="form-horizontal" @submit.prevent="onSubmit">
        <div class="box-header with-border">
            <h3 class="box-title">Search</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="search{{ _uid }}" class="col-sm-2 control-label">Component</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="search{{ _uid }}" v-model="search" placeholder="Host">
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right"></i> OK</button>
        </div>
    </form>
</div>