# MAC OS
.DS_Store
._.DS_Store

# NPM
node_modules
*.log
npm-debug.log*

# PhpStorm
.idea

# Vagrant
/.vagrant
/puphpet/files/dot/ssh/id_rsa
/puphpet/files/dot/ssh/id_rsa.pem
/puphpet/files/dot/ssh/id_rsa.ppk
/puphpet/files/dot/ssh/id_rsa.pub
/puphpet/files/dot/ssh/root_id_rsa
/puphpet/files/dot/ssh/root_id_rsa.pem
/puphpet/files/dot/ssh/root_id_rsa.ppk
/puphpet/files/dot/ssh/root_id_rsa.pub

# grunt
old/web/build
old/web/tests/selenium/*.tap
old/components/*/

# Symfony
/back/app/config/parameters.yml
/back/build/
/back/phpunit.xml
/back/var/*
!/back/var/cache
/back/var/cache/*
!back/var/cache/.gitkeep
!/back/var/logs
/back/var/logs/*
!back/var/logs/.gitkeep
!/back/var/sessions
/back/var/sessions/*
!back/var/sessions/.gitkeep
!back/var/SymfonyRequirements.php
/back/vendor/
/back/web/bundles/