<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Uniflow Api</title>
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/icons/icon-512x512.png" alt="Uniflow API" width="72" height="72">
            <h2>Uniflow API</h2>
            <p class="lead"><a href="{{ path('api_doc') }}">Get documentation</a></p>
            <p><small>From <a href="https://uniflow.io">https://uniflow.io</a></small></p>
        </div>
    </div>
</body>
</html>
