# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_mysql
    database_host: by_mysql
    database_port: null
    database_name: darkwood-uniflow
    database_user: root
    database_password: root

    mailer_transport:  smtp
    mailer_host:      'localhost:1025'
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            a545b4729708f24e3dc1ebde34e2edd8

    cookie_domain:     .darkwood.localhost

    trusted_proxies:   [127.0.0.1]

    facebook_app_id: ~
    facebook_app_secret: ~

    hosts_darkwood:    www.darkwood.localhost
    hosts_apps:        apps.darkwood.localhost
    hosts_photos:      photos.darkwood.localhost
    hosts_blog:        blog.darkwood.localhost
    hosts_me:          me.darkwood.localhost
    hosts_admin:       admin.darkwood.localhost
    hosts_cdn:         cdn.darkwood.localhost

    redis_host: 127.0.0.1
    redis_port: 6379

    recaptcha_public_key: 6LdYLxETAAAAAGvaRgUIb5NpEtfp10AFX6b46Z1D
    recaptcha_private_key: 6LdYLxETAAAAAF-KQmBI1MCcMqzEnuLVHKZV_K6Y

    binary_jpegoptim: /usr/bin/jpegoptim
    binary_optipng:   /usr/bin/optipng
    binary_uglifycss: /usr/bin/uglifycss
    binary_uglifyjs:  /usr/bin/uglifyjs
