<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">File</h3>
    </div>
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="inputFile" class="col-sm-2 control-label">File</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFile" placeholder="File">
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Fetch</button>
        </div>
    </form>
</div>