$app-themes: () !default;
$app-themes: map-merge(
  (
    "sepia": (
      "text": #433422,
      "bg": #F1E7D0,
      "input": #EADEC2,
      "border": #DED0BF,

      "primary": #0066CC,
      "secondary": #876944,
      "success": #00996B,
      "danger": #99000F,
      "warning": #997300,
      "info": #008599,
      "light": #EADEC2,
      "dark": #1A1452,
    ),
  ),
  $app-themes
);
