.btn-social-icon {
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}

.btn-social-icon > :first-child {
    border: none;
    text-align: center;
    width: 100% !important;
}

.btn-social-icon > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 34px;
    line-height: 34px;
    font-size: 1.6em;
}