<div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Infos</h3>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" @click.prevent="onDelete"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="info_title_{{ _uid }}" class="col-sm-2 control-label">Title</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="info_title_{{ _uid }}" v-model="history.title" placeholder="Titre" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="info_tags_{{ _uid }}" class="col-sm-2 control-label">Tags</label>

                    <div class="col-sm-10">
                        <tagit v-model="history.tags" type="text" class="form-control" id="info_tags_{{ _uid }}" placeholder="Tags" />
                    </div>
                </div>

            </form>
        </div>
        <div class="box-footer">
        </div>
    </div>

    <ul class="timeline">
        <li class="time-label">
          <span class="bg-green">
            <a class="btn btn-success pull-right" @click.prevent="run()"><i class="fa fa-fw fa-play"></i> Play</a>
          </span>
        </li>
        <li v-for="item in uiStack">
            <i v-if="item.component != 'search'" class="fa fa-play bg-blue" @click.prevent="run(item.index)"></i>

            <div class="timeline-item" :class="{'bg-green': item.active}">
                <div class="timeline-body">
                    <div :is="item.component" :bus="item.bus"
                         @push="onPush(arguments[0], item.index)"
                         @pop="onPop(item.index)"
                         @update="onUpdate(arguments[0], item.index)"
                    >
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
