.section {
  padding: $spacer;
}

.section-with-sidebar {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: calc(100% - 180px);
  }

  @include media-breakpoint-up(md) {
    width: calc(100% - 240px);
  }

  @include media-breakpoint-up(lg) {
    width: calc(100% - 300px);
  }
}