<VirtualHost *:80>
    ServerName uniflow.darkwood.localhost
    ServerAlias www.uniflow.darkwood.localhost

    ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://by_php-fpm:9000/var/www/CONF_FOLDER/web/$1

    DocumentRoot /var/www/CONF_FOLDER/web

    <Directory /var/www/CONF_FOLDER/web>
        # enable the .htaccess rewrites
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/CONF_FOLDER_error.log
    CustomLog ${APACHE_LOG_DIR}/CONF_FOLDER_access.log combined
</VirtualHost>
