@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-color: var(--#{$color}-color);
    border-color: var(--#{$color}-color);

    @include hover {
      background-color: var(--#{$color}-hover-color);
      border-color: var(--#{$color}-hover-color);
    }
  }
}

.btn-social {
  color: var(--text-color);
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &>:first-child {
    position: absolute;
    left: 8px;
    width: 32px;
    padding-right: 8px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.2);
  }
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,.2);

  &:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,.2);
  }
}

.btn-twitter {
  color: #fff;
  background-color: rgb(29, 161, 242);
  border-color: rgba(0,0,0,.1);

  &:hover {
    color: #fff;
    background-color: rgb(26, 145, 218);
    border-color: rgba(0,0,0,.1);
  }
}

.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0,0,0,.2);

  &:hover {
    color: #fff;
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,.2);
  }
}
