.form-control {
  background-color: var(--input-color);
  border-color: var(--border-color);

  &:focus {
    background-color: var(--input-color);
    border-color: var(--border-color);
  }
}

.form-sm-horizontal {
  @include media-breakpoint-up(sm) {
    .col-form-label:first-child {
      text-align: right;
    }
  }
}

.form-select {
  background-color: var(--bg-color);
  padding: 0;
  border: none;
}

.form-check-input {
  background-color: var(--secondary-color);
  border-color: var(--border-color);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--border-color);
}

.input-group-text {
  background-color: var(--border-color);
  border-color: var(--border-color);
  color: var(--text-color);
}
