.nav-bottom {
  .nav-link {
    color: var(--secondary-color);

    &:focus {
      color: var(--secondary-hover-color);
    }
  }
}

.nav-bar-bottom {
  border-top: $border-width solid var(--border-color);
  background-color: var(--bg-color) !important;

  .nav-link {
    margin: 0;
    padding-top: $spacer;
    padding-bottom: $spacer;
    color: var(--secondary-color);

    &:focus {
      color: var(--secondary-hover-color);
    }

    &.active {
      color: var(--primary-color);
      border-top: $border-width solid var(--primary-color) !important;

      &:focus {
        color: var(--primary-hover-color) !important;
      }
    }
  }
}
