.sidebar {
  z-index: 10;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding-right: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;

  @include media-breakpoint-up(sm) {
    position: sticky;
    border-right: 1px solid var(--border-color);
    top: 0;
    height: calc(100vh - 60px);
    width: 180px;
  }

  @include media-breakpoint-up(md) {
    width: 240px;
  }

  @include media-breakpoint-up(lg) {
    width: 300px;
  }
}

.sidebar-search {
  position: relative; // To contain the Algolia search
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid var(--border-color);
}

.sidebar-nav {
  margin-right: -$grid-gutter-width / 2;
  margin-left: -$grid-gutter-width / 2;
  padding: $spacer;

  ul {
    padding-left: 0;
    list-style: none;
  }

  @include media-breakpoint-up(sm) {
    max-height: calc(100vh - 134px);
    overflow-y: auto;
  }
}

.sidebar-items {
  li {
    padding: 0;
    position: relative;

    @include hover-focus {
      span {
        color: var(--text-color) !important;

        &.link {
          color: var(--primary-hover-color) !important;

          &:before {
            background-color: var(--primary-hover-color) !important;
          }
        }
      }
    }

    &.active {
      padding: 0 0 0 0.8rem;

      span.link {
        position: relative;
        color: var(--primary-color);

        &:before {
          content: " ";
          width: 8px;
          height: 8px;
          border-radius: 10px;
          position: absolute;
          left: -.8rem;
          top: 55%;
          margin-top: -5px;
          background-color: var(--primary-color);
          animation: scaleIn .7s forwards;
        }
      }
    }

    &>span {
      display: block;
      color: var(--secondary-color);

      @include hover-focus {
        color: var(--secondary-color);
      }

      &.link {
        display: block;
        padding: .25em 0;
        text-decoration: none;

        @include hover-focus {
          color: var(--primary-color);
        }
      }
    }

    a {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-indent: -1000px;
    }
  }
}
