$app-themes: ();

@import 'themes/light';
@import 'themes/dark';
@import 'themes/sepia';

@each $app-theme, $app-colors in $app-themes {
  body.theme-#{$app-theme} {
    @each $color, $value in $app-colors {
      --#{$color}-color: #{$value};
    }

    --navbar-top-color: #{rgba(map-get($app-colors, 'bg'), 0.8)};

    @each $color, $value in $theme-colors {
      --#{$color}-input-color: #{color-contrast(darken(map-get($app-colors, $color), 15%))};
      --#{$color}-hover-color: #{darken(map-get($app-colors, $color), 15%)};
    }
  }
}
