.user {
  overflow: hidden;
  background-color: var(--bg-color);
  background-clip: border-box;
  border: $card-border-width solid var(--border-color);
  @include border-radius($card-border-radius);
}

.user-header {
  background-color: $light;
  padding: 0 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;

  .profile_pic {
    position: absolute;
    bottom: -50px;
    height: 112px;
    width: 112px;
    padding: 5px;
    border: 2px solid $primary;
    border-radius: 50%;

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }
}

.user-body {
  padding-top: 55px !important;
  padding-right: $spacer;
  padding-left: $spacer;
  padding-bottom: $spacer;
  border-top: $card-border-width solid $card-border-color;

  .name_container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .name {
    color: gray;
    position: relative;
  }

  .description_container {
    display: flex;
    justify-content: center;
  }

  .description {
    position: relative;
    text-align: center;
  }

  .follow {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .follow_btn {
    background: #2196F3;
    padding: 7px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
  }
}
