@each $color, $value in $theme-colors {
  .badge-#{$color} {
    background-color: var(--#{$color}-color);
    border-color: var(--#{$color}-color);

    @include hover {
      background-color: var(--#{$color}-hover-color);
      border-color: var(--#{$color}-hover-color);
    }
  }
}
