body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

hr {
  background-color: var(--border-color);
  opacity: 1;
}

a {
  color: var(--primary-color);

  &:hover {
    color: var(--primary-hover-color);
  }
}

input {
  background-color: var(--input-color);
  border-color: var(--border-color);

  :focus {
    box-shadow: inset 0 0 0 1px var(--primary-color);
  }
}
