// Links

$link-decoration:                         none;
$link-hover-decoration:                   underline;

// Typography

$font-family-base: Jost, sans-serif;
$font-size-base: 1.125rem;

// Forms

$form-check-input-width: 1.5em;

// Navbar

$navbar-padding-y: 0rem;
$navbar-padding-x: 0rem;
