<div class="box box-info">
    <form class="form-horizontal" @submit.prevent="onSubmit">
        <div class="box-header with-border">
            <h3 class="box-title">Replace</h3>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" @click.prevent="onDelete"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="search{{ _uid }}" class="col-sm-2 control-label">Search</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="search{{ _uid }}" v-model="search" placeholder="Search">
                </div>
            </div>
            <div class="form-group">
                <label for="replace{{ _uid }}" class="col-sm-2 control-label">Replace</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="replace{{ _uid }}" v-model="replace" placeholder="Replace">
                </div>
            </div>
            <div class="form-group">
                <label for="regexp{{ _uid }}" class="col-sm-2 control-label">Is Regular Expression</label>

                <div class="col-sm-10">
                    <input type="checkbox" class="form-control" id="regexp{{ _uid }}" v-model="regexp" placeholder="Is Regular Expression">
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-fw fa-refresh"></i> Send</button>
        </div>
    </form>
</div>