.navbar.navbar-vertical .navbar-collapse {
    padding: 0;
    max-height: none;
}
.navbar.navbar-vertical ul {
    float: none;
}
.navbar.navbar-vertical ul:not {
    display: block;

}
.navbar.navbar-vertical li {
    float: none;
    display: block;
}
.navbar.navbar-vertical li a {
    padding-top: 12px;
    padding-bottom: 12px;
}

/** page home **/
#home .form-horizontal .form-group:last-child {
    margin-bottom: 0px;
}

#home .timeline-item .box {
    margin-bottom: 0px;
}

#home .timeline-item.component .timeline-body {
    padding: 0px;
}

